
h1 {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  background: url('../img/bg_hr.png') repeat-x bottom;
  color: #008000;
}

h2 {
  font-size: 32px;
   color:#009900;
}

h3 {
  font-size: 24px;
     color:#6b8e23;
}

h4 {
  font-size: 18px;
  color:#2E8B57;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  background-color: GreenYellow;
  padding: 2px;
  border: 1px solid DarkGreen;
  border-radius: 3px;
  margin: 0 5px;
  max-width: 100%;
  color: black;
}

body{
  font-family: Helvetica;
  font-size: 13pt;
  color: black;
}

table{ 
  border-collapse:collapse;
  margin: auto;
  border: 1px solid black;
  table-layout:auto;
  width: 100%;
}

th {
  background-color:#E0E0E0 ;
  border-bottom:1px solid black;
  padding:5px;
  text-align: center;
}

td{
  border-bottom:1px dotted black;
  border-left: 1px dotted black;
  padding:5px;
}

table td:first-child { border-left: none; }

a:link { color: blue; }
a:visited { color: red;}
a:hover { color: green; }
a:active { color: hotpink;}


